
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>

<div th:replace="~{sidebar.html}"></div>

<div class="main-content">
    <div class="container">
        <div class="top">
            <h1>Change Password</h1>
            <div class="alert-message">
            <div th:if="${message}" th:class="'alert ' + ${alertClass}" role="alert">
                <span th:text="${message}"></span>
            </div>
            </div>
        </div>

        <div class="form-wrapper">
            <form autocomplete="off" th:action="@{/change-password}" method="post">
                <input type="password" id="currentPassword" name="currentPassword" placeholder="Current Password" autocomplete="off" required>

                <input type="password" id="newPassword" name="newPassword" placeholder="New Password" autocomplete="off" required>

                <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="Confirm New Password" autocomplete="off" required>

                <input type="submit" value="Change Password">
            </form>
        </div>
    </div>
</div>
</body>
</html>
