
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>

<div th:replace="~{sidebar.html}"></div>

<div class="main-content">
    <div class="container">
        <div class="top">
            <h1>Change Password</h1>
            <div class="alert-message">
            <div th:if="${message}" th:class="'alert ' + ${alertClass}" role="alert">
                <span th:text="${message}"></span>
            </div>
            </div>
        </div>

        <form autocomplete="off" th:action="@{/change-password}" method="post">
            <label for="currentPassword">Current Password:</label><br>
            <input type="password" id="currentPassword" name="currentPassword" required><br>

            <label for="newPassword">New Password:</label><br>
            <input type="password" id="newPassword" name="newPassword" required><br>

            <label for="confirmNewPassword">Confirm New Password:</label><br>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" required><br>

            <input type="submit" value="Change Password">
        </form>
    </div>
</div>
</body>
</html>
