
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>

<div th:replace="sidebar.html"></div>

<div class="main-content">
    <div class="container">
        <div class="top">
            <h1>Create Employee</h1>
            <div class="alert-message">
            <div th:if="${message}" th:class="'alert ' + ${alertClass}" role="alert">
                <span th:text="${message}"></span>
            </div>
            </div>
        </div>

        <form autocomplete="off" th:action="@{/create-employee}" method="post">
            <label for="firstName">First Name:</label><br>
            <input type="text" id="firstName" name="firstName" autocomplete="off" required><br>

            <label for="lastName">Last Name:</label><br>
            <input type="text" id="lastName" name="lastName" autocomplete="off" required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" autocomplete="off" required><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" autocomplete="new-password" required><br>

            <label for="role">Role:</label><br>
            <select id="role" name="role" required>
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select><br>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>
