
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>

<div th:replace="~{sidebar.html}"></div>

<div class="main-content">
    <div class="container">
        <div class="top">
            <h1>Create Employee</h1>
            <div class="alert-message">
            <div th:if="${message}" th:class="'alert ' + ${alertClass}" role="alert">
                <span th:text="${message}"></span>
            </div>
            </div>
        </div>

        <div class="form-wrapper">
            <form autocomplete="off" th:action="@{/create-employee}" method="post">
                <input type="text" id="firstName" name="firstName" placeholder="First Name" autocomplete="off" required>

                <input type="text" id="lastName" name="lastName" placeholder="Last Name" autocomplete="off" required>

                <input type="email" id="email" name="email" placeholder="E-Mail" autocomplete="off" required>

                <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" required>

                <div id="role-chooser">
                    <label for="role">Role:</label><br>
                    <select id="role" name="role" required>
                        <option value="USER">USER</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>
                </div>

                <fieldset id="scheduler">
                    <legend>Work Hours</legend>
                    <div class="work-hour-input">
                        <label for="workHoursMonday">Monday</label>
                        <input type="number" step="0.25" name="dailyWorkHours" id="workHoursMonday" th:value="${defaultWorkSchedule.hoursMonday}" min="0" max="24" required><br>
                    </div>

                    <div class="work-hour-input">
                        <label for="workHoursTuesday">Tuesday</label>
                        <input type="number" step="0.25" name="dailyWorkHours" id="workHoursTuesday" th:value="${defaultWorkSchedule.hoursTuesday}" min="0" max="24" required><br>
                    </div>

                    <div class="work-hour-input">
                        <label for="workHoursWednesday">Wednesday</label>
                        <input type="number" step="0.25" name="dailyWorkHours" id="workHoursWednesday" th:value="${defaultWorkSchedule.hoursWednesday}" min="0" max="24" required><br>
                    </div>

                    <div class="work-hour-input">
                        <label for="workHoursThursday">Thursday</label>
                        <input type="number" step="0.25" name="dailyWorkHours" id="workHoursThursday" th:value="${defaultWorkSchedule.hoursThursday}" min="0" max="24" required><br>
                    </div>

                    <div class="work-hour-input">
                        <label for="workHoursFriday">Friday</label>
                        <input type="number" step="0.25" name="dailyWorkHours" id="workHoursFriday" th:value="${defaultWorkSchedule.hoursFriday}" min="0" max="24" required><br>
                    </div>

                    <div class="work-hour-input">
                        <label for="workHoursSaturday">Saturday</label>
                        <input type="number" step="0.25" name="dailyWorkHours" id="workHoursSaturday" th:value="${defaultWorkSchedule.hoursSaturday}" min="0" max="24" required><br>
                    </div>

                    <div class="work-hour-input">
                        <label for="workHoursSunday">Sunday</label>
                        <input type="number" step="0.25" name="dailyWorkHours" id="workHoursSunday" th:value="${defaultWorkSchedule.hoursSunday}" min="0" max="24" required><br>
                    </div>
                </fieldset>


                <input type="submit" value="Submit">
            </form>
        </div>


    </div>
</div>
</body>
</html>
