
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>

<div th:replace="~{sidebar.html}"></div>

<div class="main-content">
    <div class="container">
        <div class="top">
            <h1>Create Employee</h1>
            <div class="alert-message">
            <div th:if="${message}" th:class="'alert ' + ${alertClass}" role="alert">
                <span th:text="${message}"></span>
            </div>
            </div>
        </div>

        <div class="form-wrapper">
            <form autocomplete="off" th:action="@{/create-employee}" method="post">
                <input type="text" id="firstName" name="firstName" placeholder="First Name" autocomplete="off" required>

                <input type="text" id="lastName" name="lastName" placeholder="Last Name" autocomplete="off" required>

                <input type="email" id="email" name="email" placeholder="E-Mail" autocomplete="off" required>

                <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password" required>

                <div id="role-chooser">
                    <label for="role">Role:</label><br>
                    <select id="role" name="role" required>
                        <option value="USER">USER</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>
                </div>


                <input type="submit" value="Submit">
            </form>
        </div>


    </div>
</div>
</body>
</html>
