
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link th:href="@{/style.css}" rel="stylesheet" />

</head>
<body>

<div class="sidebar">
    <div class="top">
        <div class="logo">
            <i class='bx bxs-time-five'></i>
            <span>TimeTrack</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <div class="user">
        <img th:src="@{/standard_user_img.png}" alt="user" class="user-img">
        <div>
            <p class="bold" th:text="${fullName}">Username</p>
            <p th:text="${role}">Role</p>
        </div>
    </div>
    <ul>
        <li>
            <a href = "/time-entries">
                <i class='bx bx-time-five'></i>
                <span class="nav-item">TimeTracking</span>
            </a>
            <span class="tooltip">TimeTracking</span>
        </li>
        <li>
            <a href = "/time-report">
                <i class='bx bxs-report'></i>
                <span class="nav-item">Reports</span>
            </a>
            <span class="tooltip">Reports</span>
        </li>
        <li>
            <a href = "/create-employee">
                <i class='bx bx-body'></i>
                <span class="nav-item">Employees</span>
            </a>
            <span class="tooltip">Employees</span>
        </li>
        <li>
            <a href = "/change-password">
                <i class='bx bx-cog'></i>
                <span class="nav-item">Settings</span>
            </a>
            <span class="tooltip">Settings</span>
        </li>
        <li>
            <a href = "/logout">
                <i class='bx bx-log-out'></i>
                <span class="nav-item">Logout</span>
            </a>
            <span class="tooltip">Logout</span>
        </li>
    </ul>
</div>
</body>
<script th:src="@{/sidebarToggle.js}"></script>
</html>
