<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="~{sidebar.html}"></div>

<div class="main-content">
  <div class="container">
    <div class="top">
      <h1>Time Report</h1>
    </div>

      <div class="table-wrapper">
          <table>
              <div th:if="${workday != null}">
                  <p>Workday Date: <span th:text="${workday.getFormatedDate}"></span></p>
                  <p>Actual Work Time: <span th:text="${workday.getFormatedActualWorkTime}"></span></p>
                  <p>Scheduled Work Time: <span th:text="${workday.getFormatedScheduledWorkTime}"></span></p>
              </div>
              <div th:if="${workday == null}">
                  <p>No workday to display. Clock in to create your first workday.</p>
              </div>
          </table>
      </div>
  </div>
</div>
</body>
</html>