<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="~{sidebar.html}"></div>

<div class="main-content">
    <div class="container">
        <div class="top">
            <h1>Weekly Time Report</h1>
            <div></div>
        </div>

        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Workday Date</th>
                    <th>Actual Work Time</th>
                    <th>Paused Time</th>
                    <th>Scheduled Work Time</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(weekReport.getWorkdays())}">
                    <td colspan="4">No workdays to display. Clock in to create your first workday.</td>
                </tr>
                <tr th:each="workday : ${weekReport.getWorkdays()}">
                    <td th:text="${workday.getFormatedDate}">Date</td>
                    <td th:text="${workday.getFormatedActualWorkTime}">Actual Work Time</td>
                    <td th:text="${workday.getFormatedPauseTime}">Paused Time</td>
                    <td th:text="${workday.getFormatedScheduledWorkTime}">ScheduledWorkTime</td>
                </tr>
                <tr th:if="${!#lists.isEmpty(weekReport.getWorkdays())}">
                    <td colspan="4">In week <span th:text="${weekReport.getWeekNumber()}"></span>
                        you worked <span th:text="${weekReport.getWorkedHoursForWeek()}"></span>
                        of the <span th:text="${weekReport.getScheduledWorkHoursForWeek()}"></span> scheduled hours.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>