<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Time Tracking System</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="~{sidebar.html}"></div>

<div class="main-content">
    <div class="container">
        <div class="top">
            <h1>Recent Time Entries</h1>
            <div class="alert-message">
                <div th:if="${message}" th:class="'alert ' + ${alertClass}" role="alert">
                    <span th:text="${message}"></span>
                </div>
            </div>
        </div>

        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Weekday</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Entry Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(timeEntries)}">
                    <td colspan="4">No time entries to display. Clock in to create your first time entry.</td>
                </tr>
                <tr th:each="timeEntry : ${timeEntries}">
                    <td th:text="${timeEntry.getWeekday}">Weekday</td>
                    <td th:text="${timeEntry.getDate}">Date</td>
                    <td th:text="${timeEntry.getTime}">Time</td>
                    <td th:text="${timeEntry.getTimeEntryType}">Entry Type</td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="buttons">
            <form th:action ="@{/time-entries/clock-in}" method="post">
                <button type="submit" name="clockInButton">
                    <i class='bx bx-log-in-circle'></i>
                    <span>Clock in</span>
                </button>
            </form>
            <form th:action ="@{/time-entries/clock-pause}" method="post">
                <button type="submit" name="clockPauseButton">
                    <i class='bx bxs-coffee'></i>
                    <span>Clock pause</span>
                </button>
            </form>
            <form th:action ="@{/time-entries/clock-out}" method="post">
                <button type="submit" name="clockOutButton">
                    <i class='bx bx-log-out-circle'></i>
                    <span>Clock Out</span>
                </button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
